<section class="flex flex-col gap-2 container m-auto">
  <h1 class="text-3xl font-bold text-center">Compañías</h1>
  <div class="flex justify-end">
    <p-button icon="pi pi-plus" pTooltip="Crear Compañía" tooltipPosition="top" (onClick)="handleCreate()"
      pRipple></p-button>
  </div>
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="rows"
    [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]" [lazy]="true" (onPage)="pageChange($event)"
    [loading]="loading">>
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Compañia</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-company>
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.price | currency }}</td>
        <td>{{ company.category }}</td>
        <td>{{ company?.company?.name }}</td>
        <td>
          <p-confirmpopup />
          <p-buttongroup>
            <p-button icon="pi pi-pencil" severity="info" pTooltip="Editar" (onClick)="handleEdit(company.id)" *permission="'update:product'" />
            <p-button icon="pi pi-trash" severity="danger" pTooltip="Eliminar" *permission="'delete:product'"
              (onClick)="handleDelete($event, company.id)" />
          </p-buttongroup>
        </td>
      </tr>
    </ng-template>
  </p-table>

</section>
